body{
    font-family: 'Oleo Script', cursive;
    font-family: 'Roboto', sans-serif;
    background-color: #EDF4F7;
}
.custom-bgcolor li:hover{
    color: white;
    border-radius: 5px;
}
.site-name{
    color: blueviolet;
}
.custom-color{
    font-family: 'Oleo Script', cursive;
    color: rgb(26, 255, 19);
}
.nav-link{
    color: white !important;
    font-weight: bold;
}
.nav-link:hover{
    text-decoration: underline;
    text-decoration-color: greenyellow;
    color: greenyellow !important;
}
.active{
    color: greenyellow !important;
}
/* ================================================================
animaion area
================================================================= */
.bg-custom{
    animation:bg-custom 10s linear infinite ;
}

@keyframes bg-custom{
    0%{
        background-color: rgb(21, 97, 97);
    }
    20%{
        background-color: rgb(212, 120, 7);
    }
    40%{
        background-color: blue;
    }
    60%{
        background-color: blueviolet;
    }
    80%{
        background-color: brown;
    }
    100%{
        background-color: tomato;
    }
}
/* ================================================================
body area
================================================================= */
.broker-font{
    font-family: 'Libre Bodoni', serif;
    font-size: 35px;
}
.broker-desine::before{
    color: brown;
    text-decoration: underline;
    content:'';    
    animation:broker-desine 10s linear infinite ;
    display: inline-block;
}
@keyframes broker-desine{
    0%{
        color: rgb(26, 255, 19),;
        content:'Broker !';
    }
    20%{
        color: rgb(212, 120, 7);
        content:'Broker ?';
    }
    40%{
        color: blue;
        content:'Broker !';
    }
    60%{
        color: blueviolet;
        content:'Broker ?';
    }
    80%{
        color: greenyellow;
        content:'Broker !';
    }
    100%{
        color: tomato;
        content:'Broker ?';
    }
}
.btn-color:hover{
    color: white !important;
    background-color: blue !important;
    transition: .3s;
}
.hero-tex{
    color: #E19B00;
}
/*=============================================
 card section 
 ==============================================*/
.card-img div img{
    width: 100px;
}
.card-img div{
    text-align: center;
}
.card-img div h4{
    font-size: 20px;
}
#tex4{
    font-size: 18px;
}
/* ===============================================
sign area
================================================ */
.signup-tes{
    width: 50%;
    color: #0f204e;
    text-align: center;
    margin: auto;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.signup{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}
.wrapper{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #4070f4;
}
.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #4070f4;
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #0e4bf1;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}
