body{
    font-family: 'Oleo Script', cursive;
    font-family: 'Roboto', sans-serif;
    background-color: #EDF4F7;
}
.custom-bgcolor li:hover{
    color: white;
    border-radius: 5px;
}
.site-name{
    color: blueviolet;
}
.custom-color{
    font-family: 'Oleo Script', cursive;
    color: rgb(26, 255, 19);
}
.nav-link{
    color: white !important;
    font-weight: bold;
}
.nav-link:hover{
    text-decoration: underline;
    text-decoration-color: greenyellow;
    color: greenyellow !important;
}
.active{
    color: greenyellow !important;
}
/* ================================================================
animaion area
================================================================= */
.bg-custom{
    animation:bg-custom 10s linear infinite ;
}

@keyframes bg-custom{
    0%{
        background-color: rgb(21, 97, 97);
    }
    20%{
        background-color: rgb(212, 120, 7);
    }
    40%{
        background-color: blue;
    }
    60%{
        background-color: blueviolet;
    }
    80%{
        background-color: brown;
    }
    100%{
        background-color: tomato;
    }
}
/* ================================================================
body area
================================================================= */
.broker-font{
    font-family: 'Libre Bodoni', serif;
    font-size: 35px;
}
.broker-desine::before{
    color: brown;
    text-decoration: underline;
    content:'';    
    animation:broker-desine 10s linear infinite ;
    display: inline-block;
}
@keyframes broker-desine{
    0%{
        color: rgb(26, 255, 19),;
        content:'Broker !';
    }
    20%{
        color: rgb(212, 120, 7);
        content:'Broker ?';
    }
    40%{
        color: blue;
        content:'Broker !';
    }
    60%{
        color: blueviolet;
        content:'Broker ?';
    }
    80%{
        color: greenyellow;
        content:'Broker !';
    }
    100%{
        color: tomato;
        content:'Broker ?';
    }
}
.btn-color:hover{
    color: white !important;
    background-color: blue !important;
    transition: .3s;
}
.hero-tex{
    color: #E19B00;
}
/*=============================================
 card section 
 ==============================================*/
.card-img div img{
    width: 100px;
}
.card-img div{
    text-align: center;
}
.card-img div h4{
    font-size: 20px;
}
#tex4{
    font-size: 18px;
}
/* ===============================================
sign area
================================================ */
.signup-tes{
    width: 50%;
    color: #0f204e;
    text-align: center;
    margin: auto;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.signup{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}
.wrapper{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #4070f4;
}
.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #4070f4;
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #0e4bf1;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}

.about-us h3{
    color: #1e3985;
}
.about-us p{
    color: #061c5a;
    text-align: justify;
}
/* ================================================
Footer
================================================ */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
footer{
    bottom: 0px;
    width: 100%;
    background: inherit;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
  }
  .left .content p{
    text-align: justify;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover{
    background: #f12020;
  }
  /* =================================================
  Footer Animation
  ================================================== */
  .border-foot{
    border-top: 2px dotted black;
  }
  .footer-name{
      color: #1aff13;
  }
 .copy-right{
    color: #fff;
    text-align: center; 
    animation:bg-custom 10s linear infinite ; 
 }

@keyframes copy-right{
    0%{
        background-color: rgb(21, 97, 97);
    }
    20%{
        background-color: rgb(212, 120, 7);
    }
    40%{
        background-color: blue;
    }
    60%{
        background-color: blueviolet;
    }
    80%{
        background-color: brown;
    }
    100%{
        background-color: tomato;
    }
}


  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    color: #fff;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
    width: 100%;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .right form .btn button:hover{
    background: #000;
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color: #656565;
  }
  .bottom center a{
    color: #f12020;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }